@charset "UTF-8";
/*! Spectre.css v0.4.7 | MIT License | github.com/picturepan2/spectre */
/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8 (removed).
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers. (removed)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * Modify default styling of address.
 */
address {
  font-style: normal; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  /* 1 (changed) */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-. (Removed)
 */
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
  font-weight: 400;
  /* (added) */ }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 (changed) */
  font-size: inherit;
  /* 1 (changed) */
  line-height: inherit;
  /* 1 (changed) */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule (removed).
 */
/**
 * Change the border, margin, and padding in all browsers (opinionated) (changed).
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
  outline: none; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent; }

body {
  background: #fff;
  color: #50596c;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  color: #ff5500;
  outline: none;
  text-decoration: none; }
  a:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2); }
  a:focus, a:hover, a:active, a.active {
    color: #e64d00;
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500; }

h1,
.h1 {
  font-size: 2rem; }

h2,
.h2 {
  font-size: 1.6rem; }

h3,
.h3 {
  font-size: 1.4rem; }

h4,
.h4 {
  font-size: 1.2rem; }

h5,
.h5 {
  font-size: 1rem; }

h6,
.h6 {
  font-size: .8rem; }

p {
  margin: 0 0 1rem; }

a,
ins,
u {
  text-decoration-skip: ink edges; }

abbr[title] {
  border-bottom: 0.05rem dotted;
  cursor: help;
  text-decoration: none; }

kbd {
  border-radius: 0.1rem;
  line-height: 1.2;
  padding: .1rem .15rem;
  background: #454d5d;
  color: #fff;
  font-size: 0.7rem; }

mark {
  background: #ffe9b3;
  color: #50596c;
  border-radius: 0.1rem;
  padding: .05rem; }

blockquote {
  border-left: 0.1rem solid #e7e9ed;
  margin-left: 0;
  padding: 0.4rem 0.8rem; }
  blockquote p:last-child {
    margin-bottom: 0; }

ul,
ol {
  margin: 0.8rem 0 0.8rem 0.8rem;
  padding: 0; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0.8rem 0 0.8rem 0.8rem; }
  ul li,
  ol li {
    margin-top: 0.4rem; }

ul {
  list-style: disc inside; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style: decimal inside; }
  ol ol {
    list-style-type: lower-alpha; }

dl dt {
  font-weight: bold; }

dl dd {
  margin: 0.4rem 0 0.8rem 0; }

:lang(zh) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif; }

:lang(ja) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, "Helvetica Neue", sans-serif; }

:lang(ko) {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Malgun Gothic", "Helvetica Neue", sans-serif; }

:lang(zh) ins,
:lang(zh) u,
:lang(ja) ins,
:lang(ja) u,
.cjk ins,
.cjk u {
  border-bottom: 0.05rem solid;
  text-decoration: none; }

:lang(zh) del + del,
:lang(zh) del + s,
:lang(zh) ins + ins,
:lang(zh) ins + u,
:lang(zh) s + del,
:lang(zh) s + s,
:lang(zh) u + ins,
:lang(zh) u + u,
:lang(ja) del + del,
:lang(ja) del + s,
:lang(ja) ins + ins,
:lang(ja) ins + u,
:lang(ja) s + del,
:lang(ja) s + s,
:lang(ja) u + ins,
:lang(ja) u + u,
.cjk del + del,
.cjk del + s,
.cjk ins + ins,
.cjk ins + u,
.cjk s + del,
.cjk s + s,
.cjk u + ins,
.cjk u + u {
  margin-left: .125em; }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%; }
  .table.table-striped tbody tr:nth-of-type(odd) {
    background: #f8f9fa; }
  .table tbody tr.active, .table.table-striped tbody tr.active {
    background: #f0f1f4; }
  .table.table-hover tbody tr:hover {
    background: #f0f1f4; }
  .table.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: .75rem;
    white-space: nowrap; }
  .table td,
  .table th {
    border-bottom: 0.05rem solid #e7e9ed;
    padding: 0.6rem 0.4rem; }
  .table th {
    border-bottom-width: 0.1rem; }

.btn {
  transition: all .2s ease;
  appearance: none;
  background: #fff;
  border: 0.05rem solid #ff5500;
  border-radius: 0.1rem;
  color: #ff5500;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  outline: none;
  padding: 0.35rem 0.4rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2); }
  .btn:focus, .btn:hover {
    background: #00acfc;
    border-color: #cc4400;
    text-decoration: none; }
  .btn:active, .btn.active {
    background: #cc4400;
    border-color: #b33c00;
    color: #fff;
    text-decoration: none; }
    .btn:active.loading::after, .btn.active.loading::after {
      border-bottom-color: #fff;
      border-left-color: #fff; }
  .btn[disabled], .btn:disabled, .btn.disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none; }
  .btn.btn-primary {
    background: #ff5500;
    border-color: #cc4400;
    color: #fff; }
    .btn.btn-primary:focus, .btn.btn-primary:hover {
      background: #c24100;
      border-color: #b33c00;
      color: #fff; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background: #b83d00;
      border-color: #a83800;
      color: #fff; }
    .btn.btn-primary.loading::after, .btn.btn-success.loading::after, .btn.btn-error.loading::after {
      border-bottom-color: #fff;
      border-left-color: #fff; }
  .btn.btn-success {
    background: #32b643;
    border-color: #2faa3f;
    color: #fff; }
    .btn.btn-success:focus {
      box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2); }
    .btn.btn-success:focus, .btn.btn-success:hover {
      background: #30ae40;
      border-color: #2da23c;
      color: #fff; }
    .btn.btn-success:active, .btn.btn-success.active {
      background: #2a9a39;
      border-color: #278e34;
      color: #fff; }
  .btn.btn-error {
    background: #e85600;
    border-color: #d95000;
    color: #fff; }
    .btn.btn-error:focus {
      box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2); }
    .btn.btn-error:focus, .btn.btn-error:hover {
      background: #de5200;
      border-color: #cf4d00;
      color: #fff; }
    .btn.btn-error:active, .btn.btn-error.active {
      background: #c44900;
      border-color: #b54300;
      color: #fff; }
  .btn.btn-link {
    background: transparent;
    border-color: transparent;
    color: #ff5500; }
    .btn.btn-link:focus, .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link.active {
      color: #e64d00; }
  .btn.btn-sm {
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.15rem 0.3rem; }
  .btn.btn-lg {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 0.6rem; }
  .btn.btn-block {
    display: block;
    width: 100%; }
  .btn.btn-action {
    width: 1.8rem;
    padding-left: 0;
    padding-right: 0; }
    .btn.btn-action.btn-sm {
      width: 1.4rem; }
    .btn.btn-action.btn-lg {
      width: 2rem; }
  .btn.btn-clear {
    background: transparent;
    border: 0;
    color: currentColor;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-left: 0.2rem;
    margin-right: -2px;
    opacity: 1;
    padding: 0;
    text-decoration: none;
    width: 0.8rem; }
    .btn.btn-clear:hover {
      opacity: .95; }
    .btn.btn-clear::before {
      content: "\2715"; }

.btn-group {
  display: inline-flex;
  flex-wrap: wrap; }
  .btn-group .btn {
    flex: 1 0 auto; }
    .btn-group .btn:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .btn-group .btn:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: -0.05rem; }
    .btn-group .btn:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -0.05rem; }
    .btn-group .btn:focus, .btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.active {
      z-index: 1; }
  .btn-group.btn-group-block {
    display: flex; }
    .btn-group.btn-group-block .btn {
      flex: 1 0 0; }

.form-group:not(:last-child) {
  margin-bottom: 0.4rem; }

fieldset {
  margin-bottom: 0.8rem; }

legend {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.8rem; }

.form-label {
  display: block;
  line-height: 1rem;
  padding: 0.4rem 0; }
  .form-label.label-sm {
    padding: 0.2rem 0; }
  .form-label.label-lg {
    padding: 0.5rem 0; }

.form-input {
  transition: all .2s ease;
  appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #caced7;
  border-radius: 0.1rem;
  color: #50596c;
  display: block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  max-width: 100%;
  outline: none;
  padding: 0.35rem 0.4rem;
  position: relative;
  width: 100%; }
  .form-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2);
    border-color: #ff5500; }
  .form-input::placeholder {
    color: #acb3c2; }
  .form-input.input-sm {
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.15rem 0.3rem; }
  .form-input.input-lg {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 0.6rem; }
  .form-input.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto; }
  .form-input[type="file"] {
    height: auto; }

textarea.form-input {
  height: auto; }

.form-input-hint {
  color: #acb3c2;
  font-size: 0.7rem;
  margin-top: 0.2rem; }
  .has-success .form-input-hint,
  .is-success + .form-input-hint {
    color: #32b643; }
  .has-error .form-input-hint,
  .is-error + .form-input-hint {
    color: #e85600; }

.form-select {
  appearance: none;
  border: 0.05rem solid #caced7;
  border-radius: 0.1rem;
  color: inherit;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  outline: none;
  padding: 0.35rem 0.4rem;
  vertical-align: middle;
  width: 100%; }
  .form-select[size], .form-select[multiple] {
    height: auto; }
    .form-select[size] option, .form-select[multiple] option {
      padding: 0.1rem 0.2rem; }
  .form-select:not([multiple]):not([size]) {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center/0.4rem 0.5rem;
    padding-right: 1.2rem; }
  .form-select:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2);
    border-color: #ff5500; }
  .form-select::-ms-expand {
    display: none; }
  .form-select.select-sm {
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.15rem 1.1rem 0.15rem 0.3rem; }
  .form-select.select-lg {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 1.4rem 0.45rem 0.6rem; }

.has-icon-left,
.has-icon-right {
  position: relative; }
  .has-icon-left .form-icon,
  .has-icon-right .form-icon {
    height: 0.8rem;
    margin: 0 0.35rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8rem; }

.has-icon-left .form-icon {
  left: 0.05rem; }

.has-icon-left .form-input {
  padding-left: 1.5rem; }

.has-icon-right .form-icon {
  right: 0.05rem; }

.has-icon-right .form-input {
  padding-right: 1.5rem; }

.form-checkbox,
.form-radio,
.form-switch {
  display: inline-block;
  line-height: 1rem;
  padding: 0.2rem 1.2rem;
  position: relative; }
  .form-checkbox input,
  .form-radio input,
  .form-switch input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }
    .form-checkbox input:focus + .form-icon,
    .form-radio input:focus + .form-icon,
    .form-switch input:focus + .form-icon {
      box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2);
      border-color: #ff5500; }
    .form-checkbox input:checked + .form-icon,
    .form-radio input:checked + .form-icon,
    .form-switch input:checked + .form-icon {
      background: #ff5500;
      border-color: #ff5500; }
  .form-checkbox .form-icon,
  .form-radio .form-icon,
  .form-switch .form-icon {
    transition: all .2s ease;
    border: 0.05rem solid #caced7;
    cursor: pointer;
    display: inline-block;
    position: absolute; }

.form-checkbox .form-icon,
.form-radio .form-icon {
  background: #fff;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem; }

.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon {
  background: #f0f1f4; }

.form-checkbox .form-icon {
  border-radius: 0.1rem; }

.form-checkbox input:checked + .form-icon::before {
  background-clip: padding-box;
  border: 0.1rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 12px;
  left: 50%;
  margin-left: -4px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 8px; }

.form-checkbox input:indeterminate + .form-icon {
  background: #ff5500;
  border-color: #ff5500; }
  .form-checkbox input:indeterminate + .form-icon::before {
    background: #fff;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 10px; }

.form-radio .form-icon {
  border-radius: 50%; }

.form-radio input:checked + .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px; }

.form-switch {
  padding-left: 2rem; }
  .form-switch .form-icon {
    background: #e7e9ed;
    background-clip: padding-box;
    border-radius: 0.45rem;
    height: 0.9rem;
    left: 0;
    top: 0.25rem;
    width: 1.6rem; }
    .form-switch .form-icon::before {
      transition: all .2s ease;
      background: #fff;
      border-radius: 50%;
      content: "";
      display: block;
      height: 0.8rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.8rem; }
  .form-switch input:checked + .form-icon::before {
    left: 14px; }
  .form-switch input:active + .form-icon::before {
    background: #f8f9fa; }

.input-group {
  display: flex; }
  .input-group .input-group-addon {
    background: #f8f9fa;
    border: 0.05rem solid #caced7;
    border-radius: 0.1rem;
    line-height: 1rem;
    padding: 0.35rem 0.4rem; }
    .input-group .input-group-addon.addon-sm {
      font-size: 0.7rem;
      padding: 0.15rem 0.3rem; }
    .input-group .input-group-addon.addon-lg {
      font-size: 0.9rem;
      padding: 0.45rem 0.6rem; }
  .input-group .form-input,
  .input-group .form-select {
    flex: 1 1 auto; }
  .input-group .input-group-btn {
    z-index: 1; }
  .input-group .form-input:first-child:not(:last-child),
  .input-group .form-select:first-child:not(:last-child),
  .input-group .input-group-addon:first-child:not(:last-child),
  .input-group .input-group-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .input-group .form-input:not(:first-child):not(:last-child),
  .input-group .form-select:not(:first-child):not(:last-child),
  .input-group .input-group-addon:not(:first-child):not(:last-child),
  .input-group .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -0.05rem; }
  .input-group .form-input:last-child:not(:first-child),
  .input-group .form-select:last-child:not(:first-child),
  .input-group .input-group-addon:last-child:not(:first-child),
  .input-group .input-group-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.05rem; }
  .input-group .form-input:focus,
  .input-group .form-select:focus,
  .input-group .input-group-addon:focus,
  .input-group .input-group-btn:focus {
    z-index: 2; }
  .input-group .form-select {
    width: auto; }
  .input-group.input-inline {
    display: inline-flex; }

.has-success .form-input, .form-input.is-success, .has-success
.form-select,
.form-select.is-success {
  border-color: #32b643; }
  .has-success .form-input:focus, .form-input.is-success:focus, .has-success
  .form-select:focus,
  .form-select.is-success:focus {
    box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2); }

.has-error .form-input, .form-input.is-error, .has-error
.form-select,
.form-select.is-error {
  border-color: #e85600; }
  .has-error .form-input:focus, .form-input.is-error:focus, .has-error
  .form-select:focus,
  .form-select.is-error:focus {
    box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2); }

.has-error .form-checkbox .form-icon, .form-checkbox.is-error .form-icon, .has-error
.form-radio .form-icon,
.form-radio.is-error .form-icon, .has-error
.form-switch .form-icon,
.form-switch.is-error .form-icon {
  border-color: #e85600; }

.has-error .form-checkbox input:checked + .form-icon, .form-checkbox.is-error input:checked + .form-icon, .has-error
.form-radio input:checked + .form-icon,
.form-radio.is-error input:checked + .form-icon, .has-error
.form-switch input:checked + .form-icon,
.form-switch.is-error input:checked + .form-icon {
  background: #e85600;
  border-color: #e85600; }

.has-error .form-checkbox input:focus + .form-icon, .form-checkbox.is-error input:focus + .form-icon, .has-error
.form-radio input:focus + .form-icon,
.form-radio.is-error input:focus + .form-icon, .has-error
.form-switch input:focus + .form-icon,
.form-switch.is-error input:focus + .form-icon {
  box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
  border-color: #e85600; }

.form-input:not(:placeholder-shown):invalid {
  border-color: #e85600; }
  .form-input:not(:placeholder-shown):invalid:focus {
    box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2); }
  .form-input:not(:placeholder-shown):invalid + .form-input-hint {
    color: #e85600; }

.form-input:disabled, .form-input.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #f0f1f4;
  cursor: not-allowed;
  opacity: .5; }

.form-input[readonly] {
  background-color: #f8f9fa; }

input:disabled + .form-icon, input.disabled + .form-icon {
  background: #f0f1f4;
  cursor: not-allowed;
  opacity: .5; }

.form-switch input:disabled + .form-icon::before, .form-switch input.disabled + .form-icon::before {
  background: #fff; }

.form-horizontal {
  padding: 0.4rem 0; }
  .form-horizontal .form-group {
    display: flex; }
  .form-horizontal .form-checkbox,
  .form-horizontal .form-radio,
  .form-horizontal .form-switch {
    margin: 0.2rem 0; }

.label {
  border-radius: 0.1rem;
  line-height: 1.2;
  padding: .1rem .15rem;
  background: #f0f1f4;
  color: #5b657a;
  display: inline-block; }
  .label.label-rounded {
    border-radius: 5rem;
    padding-left: .4rem;
    padding-right: .4rem; }
  .label.label-primary {
    background: #ff5500;
    color: #fff; }
  .label.label-secondary {
    background: #00acfc;
    color: #ff5500; }
  .label.label-success {
    background: #32b643;
    color: #fff; }
  .label.label-warning {
    background: #ffb700;
    color: #fff; }
  .label.label-error {
    background: #e85600;
    color: #fff; }

code {
  border-radius: 0.1rem;
  line-height: 1.2;
  padding: .1rem .15rem;
  background: #fdf4f4;
  color: #e06870;
  font-size: 85%; }

.code {
  border-radius: 0.1rem;
  color: #50596c;
  position: relative; }
  .code::before {
    color: #acb3c2;
    content: attr(data-lang);
    font-size: 0.7rem;
    position: absolute;
    right: 0.4rem;
    top: 0.1rem; }
  .code code {
    background: #f8f9fa;
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-fit-cover {
  object-fit: cover; }

.img-fit-contain {
  object-fit: contain; }

.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; }
  .video-responsive::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; }
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }

video.video-responsive {
  height: auto;
  max-width: 100%; }
  video.video-responsive::before {
    content: none; }

.video-responsive-4-3::before {
  padding-bottom: 75%; }

.video-responsive-1-1::before {
  padding-bottom: 100%; }

.figure {
  margin: 0 0 0.4rem 0; }
  .figure .figure-caption {
    color: #667189;
    margin-top: 0.4rem; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 100%; }
  .container.grid-xl {
    max-width: 1296px; }
  .container.grid-lg {
    max-width: 976px; }
  .container.grid-md {
    max-width: 856px; }
  .container.grid-sm {
    max-width: 616px; }
  .container.grid-xs {
    max-width: 496px; }

.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
  display: none !important; }

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.4rem;
  margin-right: -0.4rem; }
  .columns.col-gapless {
    margin-left: 0;
    margin-right: 0; }
    .columns.col-gapless > .column {
      padding-left: 0;
      padding-right: 0; }
  .columns.col-oneline {
    flex-wrap: nowrap;
    overflow-x: auto; }

.column {
  flex: 1;
  max-width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .column.col-12, .column.col-11, .column.col-10, .column.col-9, .column.col-8, .column.col-7, .column.col-6, .column.col-5, .column.col-4, .column.col-3, .column.col-2, .column.col-1 {
    flex: none; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666667%; }

.col-10 {
  width: 83.33333333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666667%; }

.col-7 {
  width: 58.33333333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666667%; }

.col-4 {
  width: 33.33333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66666667%; }

.col-1 {
  width: 8.33333333%; }

.col-auto {
  flex: 0 0 auto;
  max-width: none;
  width: auto; }

.col-mx-auto {
  margin-left: auto;
  margin-right: auto; }

.col-ml-auto {
  margin-left: auto; }

.col-mr-auto {
  margin-right: auto; }

@media (max-width: 1280px) {
  .col-xl-12,
  .col-xl-11,
  .col-xl-10,
  .col-xl-9,
  .col-xl-8,
  .col-xl-7,
  .col-xl-6,
  .col-xl-5,
  .col-xl-4,
  .col-xl-3,
  .col-xl-2,
  .col-xl-1 {
    flex: none; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-11 {
    width: 91.66666667%; }
  .col-xl-10 {
    width: 83.33333333%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-8 {
    width: 66.66666667%; }
  .col-xl-7 {
    width: 58.33333333%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-5 {
    width: 41.66666667%; }
  .col-xl-4 {
    width: 33.33333333%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-2 {
    width: 16.66666667%; }
  .col-xl-1 {
    width: 8.33333333%; }
  .hide-xl {
    display: none !important; }
  .show-xl {
    display: block !important; } }

@media (max-width: 960px) {
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1 {
    flex: none; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .hide-lg {
    display: none !important; }
  .show-lg {
    display: block !important; } }

@media (max-width: 840px) {
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    flex: none; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .hide-md {
    display: none !important; }
  .show-md {
    display: block !important; } }

@media (max-width: 600px) {
  .col-sm-12,
  .col-sm-11,
  .col-sm-10,
  .col-sm-9,
  .col-sm-8,
  .col-sm-7,
  .col-sm-6,
  .col-sm-5,
  .col-sm-4,
  .col-sm-3,
  .col-sm-2,
  .col-sm-1 {
    flex: none; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .hide-sm {
    display: none !important; }
  .show-sm {
    display: block !important; } }

@media (max-width: 480px) {
  .col-xs-12,
  .col-xs-11,
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4,
  .col-xs-3,
  .col-xs-2,
  .col-xs-1 {
    flex: none; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66666667%; }
  .col-xs-10 {
    width: 83.33333333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66666667%; }
  .col-xs-7 {
    width: 58.33333333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66666667%; }
  .col-xs-4 {
    width: 33.33333333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66666667%; }
  .col-xs-1 {
    width: 8.33333333%; }
  .hide-xs {
    display: none !important; }
  .show-xs {
    display: block !important; } }

.navbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .navbar .navbar-section {
    align-items: center;
    display: flex;
    flex: 1 0 0; }
    .navbar .navbar-section:last-child {
      justify-content: flex-end; }
  .navbar .navbar-center {
    align-items: center;
    display: flex;
    flex: 0 0 auto; }
  .navbar .navbar-brand {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none; }

.accordion input:checked ~ .accordion-header .icon, .accordion[open] .accordion-header .icon {
  transform: rotate(90deg); }

.accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
  max-height: 50rem; }

.accordion .accordion-header {
  display: block;
  padding: 0.2rem 0.4rem; }
  .accordion .accordion-header .icon {
    transition: all .2s ease; }

.accordion .accordion-body {
  margin-bottom: 0.4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease; }

summary.accordion-header::-webkit-details-marker {
  display: none; }

.form-autocomplete {
  position: relative; }
  .form-autocomplete .form-autocomplete-input {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 1.6rem;
    padding: 0.1rem; }
    .form-autocomplete .form-autocomplete-input.is-focused {
      box-shadow: 0 0 0 0.1rem rgba(255, 85, 0, 0.2);
      border-color: #ff5500; }
    .form-autocomplete .form-autocomplete-input .form-input {
      border-color: transparent;
      box-shadow: none;
      display: inline-block;
      flex: 1 0 auto;
      height: 1.2rem;
      line-height: 0.8rem;
      margin: 0.1rem;
      width: auto; }
  .form-autocomplete .menu {
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%; }

.avatar {
  font-size: 0.8rem;
  height: 1.6rem;
  width: 1.6rem;
  background: #ff5500;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .avatar.avatar-xs {
    font-size: 0.4rem;
    height: 0.8rem;
    width: 0.8rem; }
  .avatar.avatar-sm {
    font-size: 0.6rem;
    height: 1.2rem;
    width: 1.2rem; }
  .avatar.avatar-lg {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem; }
  .avatar.avatar-xl {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem; }
  .avatar img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1; }
  .avatar .avatar-icon,
  .avatar .avatar-presence {
    background: #fff;
    bottom: 14.64%;
    height: 50%;
    padding: 0.1rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
    z-index: 2; }
  .avatar .avatar-presence {
    background: #acb3c2;
    box-shadow: 0 0 0 0.1rem #fff;
    border-radius: 50%;
    height: .5em;
    width: .5em; }
    .avatar .avatar-presence.online {
      background: #32b643; }
    .avatar .avatar-presence.busy {
      background: #e85600; }
    .avatar .avatar-presence.away {
      background: #ffb700; }
  .avatar[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }

.badge {
  position: relative;
  white-space: nowrap; }
  .badge[data-badge]::after, .badge:not([data-badge])::after {
    background: #ff5500;
    background-clip: padding-box;
    border-radius: .5rem;
    box-shadow: 0 0 0 0.1rem #fff;
    color: #fff;
    content: attr(data-badge);
    display: inline-block;
    transform: translate(-0.1rem, -0.5rem); }
  .badge[data-badge]::after {
    font-size: 0.7rem;
    height: .9rem;
    line-height: 1;
    min-width: .9rem;
    padding: .1rem .2rem;
    text-align: center;
    white-space: nowrap; }
  .badge:not([data-badge])::after, .badge[data-badge=""]::after {
    height: 6px;
    min-width: 6px;
    padding: 0;
    width: 6px; }
  .badge.btn::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); }
  .badge.avatar::after {
    position: absolute;
    top: 14.64%;
    right: 14.64%;
    transform: translate(50%, -50%);
    z-index: 100; }
  .badge.avatar-xs::after {
    content: "";
    height: 0.4rem;
    min-width: 0.4rem;
    padding: 0;
    width: 0.4rem; }

.breadcrumb {
  list-style: none;
  margin: 0.2rem 0;
  padding: 0.2rem 0; }
  .breadcrumb .breadcrumb-item {
    color: #667189;
    display: inline-block;
    margin: 0;
    padding: 0.2rem 0; }
    .breadcrumb .breadcrumb-item:not(:last-child) {
      margin-right: 0.2rem; }
      .breadcrumb .breadcrumb-item:not(:last-child) a {
        color: #667189; }
    .breadcrumb .breadcrumb-item:not(:first-child)::before {
      color: #e7e9ed;
      content: "/";
      padding-right: 0.4rem; }

.bar {
  background: #f0f1f4;
  border-radius: 0.1rem;
  display: flex;
  flex-wrap: nowrap;
  height: 0.8rem;
  width: 100%; }
  .bar.bar-sm {
    height: 0.2rem; }
  .bar .bar-item {
    background: #ff5500;
    color: #fff;
    display: block;
    font-size: 0.7rem;
    flex-shrink: 0;
    line-height: 0.8rem;
    height: 100%;
    position: relative;
    text-align: center;
    width: 0; }
    .bar .bar-item:first-child {
      border-bottom-left-radius: 0.1rem;
      border-top-left-radius: 0.1rem; }
    .bar .bar-item:last-child {
      border-bottom-right-radius: 0.1rem;
      border-top-right-radius: 0.1rem;
      flex-shrink: 1; }

.bar-slider {
  height: 0.1rem;
  margin: 0.4rem 0;
  position: relative; }
  .bar-slider .bar-item {
    left: 0;
    padding: 0;
    position: absolute; }
    .bar-slider .bar-item:not(:last-child):first-child {
      background: #f0f1f4;
      z-index: 1; }
  .bar-slider .bar-slider-btn {
    background: #ff5500;
    border: 0;
    border-radius: 50%;
    height: 0.6rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 0.6rem; }
    .bar-slider .bar-slider-btn:active {
      box-shadow: 0 0 0 0.1rem #ff5500; }

.card {
  background: #fff;
  border: 0.05rem solid #e7e9ed;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column; }
  .card .card-header,
  .card .card-body,
  .card .card-footer {
    padding: 0.8rem;
    padding-bottom: 0; }
    .card .card-header:last-child,
    .card .card-body:last-child,
    .card .card-footer:last-child {
      padding-bottom: 0.8rem; }
  .card .card-image {
    padding-top: 0.8rem; }
    .card .card-image:first-child {
      padding-top: 0; }
      .card .card-image:first-child img {
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem; }
    .card .card-image:last-child img {
      border-bottom-left-radius: 0.1rem;
      border-bottom-right-radius: 0.1rem; }

.chip {
  align-items: center;
  background: #f0f1f4;
  border-radius: 5rem;
  color: #667189;
  display: inline-flex;
  font-size: 90%;
  height: 1.2rem;
  line-height: 0.8rem;
  margin: 0.1rem;
  max-width: 100%;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  vertical-align: middle; }
  .chip.active {
    background: #ff5500;
    color: #fff; }
  .chip .avatar {
    margin-left: -0.4rem;
    margin-right: 0.2rem; }

.dropdown {
  display: inline-block;
  position: relative; }
  .dropdown .menu {
    animation: slide-down .15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%; }
  .dropdown.dropdown-right .menu {
    left: auto;
    right: 0; }
  .dropdown.active .menu,
  .dropdown .dropdown-toggle:focus + .menu,
  .dropdown .menu:hover {
    display: block; }
  .dropdown .btn-group .dropdown-toggle:nth-last-child(2) {
    border-bottom-right-radius: 0.1rem;
    border-top-right-radius: 0.1rem; }

.empty {
  background: #f8f9fa;
  border-radius: 0.1rem;
  color: #667189;
  text-align: center;
  padding: 3.2rem 1.6rem; }
  .empty .empty-icon {
    margin-bottom: 0.8rem; }
  .empty .empty-title,
  .empty .empty-subtitle {
    margin: 0.4rem auto; }
  .empty .empty-action {
    margin-top: 0.8rem; }

.menu {
  box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, 0.3);
  background: #fff;
  border-radius: 0.1rem;
  list-style: none;
  margin: 0;
  min-width: 180px;
  padding: 0.4rem;
  transform: translateY(0.2rem);
  z-index: 100; }
  .menu.menu-nav {
    background: transparent;
    box-shadow: none; }
  .menu .menu-item {
    margin-top: 0;
    padding: 0 0.4rem;
    text-decoration: none;
    user-select: none; }
    .menu .menu-item > a {
      border-radius: 0.1rem;
      color: inherit;
      display: block;
      margin: 0 -0.4rem;
      padding: 0.2rem 0.4rem;
      text-decoration: none; }
      .menu .menu-item > a:focus, .menu .menu-item > a:hover {
        background: #00acfc;
        color: #ff5500; }
      .menu .menu-item > a:active, .menu .menu-item > a.active {
        background: #00acfc;
        color: #ff5500; }
    .menu .menu-item + .menu-item {
      margin-top: 0.2rem; }
  .menu .menu-badge {
    float: right;
    padding: 0.2rem 0; }
    .menu .menu-badge .btn {
      margin-top: -0.1rem; }

.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0; }
  .modal:target, .modal.active {
    display: flex;
    opacity: 1;
    z-index: 400; }
    .modal:target .modal-overlay, .modal.active .modal-overlay {
      background: rgba(248, 249, 250, 0.75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .modal:target .modal-container, .modal.active .modal-container {
      animation: slide-down .2s ease 1;
      max-width: 640px;
      width: 100%;
      z-index: 1; }
  .modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 0.4rem; }
  .modal.modal-lg .modal-overlay {
    background: #fff; }
  .modal.modal-lg .modal-container {
    box-shadow: none;
    max-width: 960px; }

.modal-container {
  box-shadow: 0 0.2rem 0.5rem rgba(69, 77, 93, 0.3);
  background: #fff;
  border-radius: 0.1rem;
  display: block;
  padding: 0 0.8rem;
  text-align: left; }
  .modal-container .modal-header {
    padding: 0.8rem; }
  .modal-container .modal-body {
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.8rem;
    position: relative; }
  .modal-container .modal-footer {
    padding: 0.8rem;
    text-align: right; }

.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.2rem 0; }
  .nav .nav-item a {
    color: #667189;
    padding: 0.2rem 0.4rem;
    text-decoration: none; }
    .nav .nav-item a:focus, .nav .nav-item a:hover {
      color: #ff5500; }
  .nav .nav-item.active > a {
    color: #50596c;
    font-weight: bold; }
    .nav .nav-item.active > a:focus, .nav .nav-item.active > a:hover {
      color: #ff5500; }
  .nav .nav {
    margin-bottom: 0.4rem;
    margin-left: 0.8rem; }

.pagination {
  display: flex;
  list-style: none;
  margin: 0.2rem 0;
  padding: 0.2rem 0; }
  .pagination .page-item {
    margin: 0.2rem 0.05rem; }
    .pagination .page-item span {
      display: inline-block;
      padding: 0.2rem 0.2rem; }
    .pagination .page-item a {
      border-radius: 0.1rem;
      color: #667189;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      text-decoration: none; }
      .pagination .page-item a:focus, .pagination .page-item a:hover {
        color: #ff5500; }
    .pagination .page-item.disabled a {
      cursor: default;
      opacity: .5;
      pointer-events: none; }
    .pagination .page-item.active a {
      background: #ff5500;
      color: #fff; }
    .pagination .page-item.page-prev, .pagination .page-item.page-next {
      flex: 1 0 50%; }
    .pagination .page-item.page-next {
      text-align: right; }
    .pagination .page-item .page-item-title {
      margin: 0; }
    .pagination .page-item .page-item-subtitle {
      margin: 0;
      opacity: .5; }

.panel {
  border: 0.05rem solid #e7e9ed;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column; }
  .panel .panel-header,
  .panel .panel-footer {
    flex: 0 0 auto;
    padding: 0.8rem; }
  .panel .panel-nav {
    flex: 0 0 auto; }
  .panel .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 0.8rem; }

.popover {
  display: inline-block;
  position: relative; }
  .popover .popover-container {
    left: 50%;
    opacity: 0;
    padding: 0.4rem;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s ease;
    width: 320px;
    z-index: 400; }
  .popover *:focus + .popover-container,
  .popover:hover .popover-container,
  .popover .popover-container:hover {
    display: block;
    opacity: 1;
    transform: translate(-50%, -100%) scale(1); }
  .popover.popover-right .popover-container {
    left: 100%;
    top: 50%; }
  .popover.popover-right :focus + .popover-container,
  .popover.popover-right:hover .popover-container,
  .popover.popover-right .popover-container:hover {
    transform: translate(0, -50%) scale(1); }
  .popover.popover-bottom .popover-container {
    left: 50%;
    top: 100%; }
  .popover.popover-bottom :focus + .popover-container,
  .popover.popover-bottom:hover .popover-container,
  .popover.popover-bottom .popover-container:hover {
    transform: translate(-50%, 0) scale(1); }
  .popover.popover-left .popover-container {
    left: 0;
    top: 50%; }
  .popover.popover-left :focus + .popover-container,
  .popover.popover-left:hover .popover-container,
  .popover.popover-left .popover-container:hover {
    transform: translate(-100%, -50%) scale(1); }
  .popover .card {
    box-shadow: 0 0.2rem 0.5rem rgba(69, 77, 93, 0.3);
    border: 0; }

.step {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0.2rem 0;
  width: 100%; }
  .step .step-item {
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    text-align: center;
    position: relative; }
    .step .step-item:not(:first-child)::before {
      background: #ff5500;
      content: "";
      height: 2px;
      left: -50%;
      position: absolute;
      top: 9px;
      width: 100%; }
    .step .step-item a {
      color: #acb3c2;
      display: inline-block;
      padding: 20px 10px 0;
      text-decoration: none; }
      .step .step-item a::before {
        background: #ff5500;
        border: 0.1rem solid #fff;
        border-radius: 50%;
        content: "";
        display: block;
        height: 0.6rem;
        left: 50%;
        position: absolute;
        top: 0.2rem;
        transform: translateX(-50%);
        width: 0.6rem;
        z-index: 1; }
    .step .step-item.active a::before {
      background: #fff;
      border: 0.1rem solid #ff5500; }
    .step .step-item.active ~ .step-item::before {
      background: #e7e9ed; }
    .step .step-item.active ~ .step-item a::before {
      background: #e7e9ed; }

.tab {
  align-items: center;
  border-bottom: 0.05rem solid #e7e9ed;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.2rem 0 0.15rem 0; }
  .tab .tab-item {
    margin-top: 0; }
    .tab .tab-item a {
      border-bottom: 0.1rem solid transparent;
      color: inherit;
      display: block;
      margin: 0 0.4rem 0 0;
      padding: 0.4rem 0.2rem 0.3rem 0.2rem;
      text-decoration: none; }
      .tab .tab-item a:focus, .tab .tab-item a:hover {
        color: #ff5500; }
    .tab .tab-item.active a,
    .tab .tab-item a.active {
      border-bottom-color: #ff5500;
      color: #ff5500; }
    .tab .tab-item.tab-action {
      flex: 1 0 auto;
      text-align: right; }
    .tab .tab-item .btn-clear {
      margin-top: -0.2rem; }
  .tab.tab-block .tab-item {
    flex: 1 0 0;
    text-align: center; }
    .tab.tab-block .tab-item a {
      margin: 0; }
    .tab.tab-block .tab-item .badge[data-badge]::after {
      position: absolute;
      right: 0.1rem;
      top: 0.1rem;
      transform: translate(0, 0); }
  .tab:not(.tab-block) .badge {
    padding-right: 0; }

.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex; }
  .tile .tile-icon,
  .tile .tile-action {
    flex: 0 0 auto; }
  .tile .tile-content {
    flex: 1 1 auto; }
    .tile .tile-content:not(:first-child) {
      padding-left: 0.4rem; }
    .tile .tile-content:not(:last-child) {
      padding-right: 0.4rem; }
  .tile .tile-title,
  .tile .tile-subtitle {
    line-height: 1rem; }
  .tile.tile-centered {
    align-items: center; }
    .tile.tile-centered .tile-content {
      overflow: hidden; }
    .tile.tile-centered .tile-title,
    .tile.tile-centered .tile-subtitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0; }

.toast {
  background: rgba(69, 77, 93, 0.9);
  border-color: #454d5d;
  border: 0.05rem solid #454d5d;
  border-radius: 0.1rem;
  color: #fff;
  display: block;
  padding: 0.4rem;
  width: 100%; }
  .toast.toast-primary {
    background: rgba(255, 85, 0, 0.9);
    border-color: #ff5500; }
  .toast.toast-success {
    background: rgba(50, 182, 67, 0.9);
    border-color: #32b643; }
  .toast.toast-warning {
    background: rgba(255, 183, 0, 0.9);
    border-color: #ffb700; }
  .toast.toast-error {
    background: rgba(232, 86, 0, 0.9);
    border-color: #e85600; }
  .toast a {
    color: #fff;
    text-decoration: underline; }
    .toast a:focus, .toast a:hover, .toast a:active, .toast a.active {
      opacity: .75; }
  .toast .btn-clear {
    margin: 4px -2px 4px 4px; }

.tooltip {
  position: relative; }
  .tooltip::after {
    background: rgba(69, 77, 93, 0.9);
    border-radius: 0.1rem;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: 0.7rem;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: 0.2rem 0.4rem;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: translate(-50%, 0.4rem);
    transition: all .2s ease;
    white-space: pre;
    z-index: 300; }
  .tooltip:focus::after, .tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%, -0.2rem); }
  .tooltip[disabled], .tooltip.disabled {
    pointer-events: auto; }
  .tooltip.tooltip-right::after {
    bottom: 50%;
    left: 100%;
    transform: translate(-0.2rem, 50%); }
  .tooltip.tooltip-right:focus::after, .tooltip.tooltip-right:hover::after {
    transform: translate(0.2rem, 50%); }
  .tooltip.tooltip-bottom::after {
    bottom: auto;
    top: 100%;
    transform: translate(-50%, -0.4rem); }
  .tooltip.tooltip-bottom:focus::after, .tooltip.tooltip-bottom:hover::after {
    transform: translate(-50%, 0.2rem); }
  .tooltip.tooltip-left::after {
    bottom: 50%;
    left: auto;
    right: 100%;
    transform: translate(0.4rem, 50%); }
  .tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
    transform: translate(-0.2rem, 50%); }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.text-primary {
  color: #ff5500; }

a.text-primary:focus, a.text-primary:hover {
  color: #e64d00; }

.text-secondary {
  color: #0089c9; }

a.text-secondary:focus, a.text-secondary:hover {
  color: #0078b0; }

.text-gray {
  color: #acb3c2; }

a.text-gray:focus, a.text-gray:hover {
  color: #9ea6b7; }

.text-light {
  color: #fff; }

a.text-light:focus, a.text-light:hover {
  color: #f2f2f2; }

.text-success {
  color: #32b643; }

a.text-success:focus, a.text-success:hover {
  color: #2da23c; }

.text-warning {
  color: #ffb700; }

a.text-warning:focus, a.text-warning:hover {
  color: #e6a500; }

.text-error {
  color: #e85600; }

a.text-error:focus, a.text-error:hover {
  color: #cf4d00; }

.bg-primary {
  background: #ff5500;
  color: #fff; }

.bg-secondary {
  background: #00acfc;
  color: #fff; }

.bg-dark {
  background: #454d5d;
  color: #fff; }

.bg-gray {
  background: #f8f9fa; }

.bg-success {
  background: #32b643;
  color: #fff; }

.bg-warning {
  background: #ffb700;
  color: #fff; }

.bg-error {
  background: #e85600;
  color: #fff; }

.c-hand {
  cursor: pointer; }

.c-move {
  cursor: move; }

.c-zoom-in {
  cursor: zoom-in; }

.c-zoom-out {
  cursor: zoom-out; }

.c-not-allowed {
  cursor: not-allowed; }

.c-auto {
  cursor: auto; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: flex; }

.d-inline-flex {
  display: inline-flex; }

.d-none,
.d-hide {
  display: none !important; }

.d-visible {
  visibility: visible; }

.d-invisible {
  visibility: hidden; }

.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none; }

.text-assistive {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.divider,
.divider-vert {
  display: block;
  position: relative; }
  .divider[data-content]::after,
  .divider-vert[data-content]::after {
    background: #fff;
    color: #acb3c2;
    content: attr(data-content);
    display: inline-block;
    font-size: 0.7rem;
    padding: 0 0.4rem;
    transform: translateY(-0.65rem); }

.divider {
  border-top: 0.05rem solid #e7e9ed;
  height: 0.05rem;
  margin: 0.4rem 0; }
  .divider[data-content] {
    margin: 0.8rem 0; }

.divider-vert {
  display: block;
  padding: 0.8rem; }
  .divider-vert::before {
    border-left: 0.05rem solid #e7e9ed;
    bottom: 0.4rem;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0.4rem;
    transform: translateX(-50%); }
  .divider-vert[data-content]::after {
    left: 50%;
    padding: 0.2rem 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

.loading {
  color: transparent !important;
  min-height: 0.8rem;
  pointer-events: none;
  position: relative; }
  .loading::after {
    animation: loading 500ms infinite linear;
    border: 0.1rem solid #ff5500;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 0.8rem;
    left: 50%;
    margin-left: -0.4rem;
    margin-top: -0.4rem;
    position: absolute;
    top: 50%;
    width: 0.8rem;
    z-index: 1; }
  .loading.loading-lg {
    min-height: 2rem; }
    .loading.loading-lg::after {
      height: 1.6rem;
      margin-left: -0.8rem;
      margin-top: -0.8rem;
      width: 1.6rem; }

.clearfix::after, .container::after {
  clear: both;
  content: "";
  display: table; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto; }

.flex-centered {
  align-items: center;
  display: flex;
  justify-content: center; }

.m-0 {
  margin: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0; }

.my-0 {
  margin-bottom: 0;
  margin-top: 0; }

.m-1 {
  margin: 0.2rem; }

.mb-1 {
  margin-bottom: 0.2rem; }

.ml-1 {
  margin-left: 0.2rem; }

.mr-1 {
  margin-right: 0.2rem; }

.mt-1 {
  margin-top: 0.2rem; }

.mx-1 {
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.my-1 {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem; }

.m-2 {
  margin: 0.4rem; }

.mb-2 {
  margin-bottom: 0.4rem; }

.ml-2 {
  margin-left: 0.4rem; }

.mr-2 {
  margin-right: 0.4rem; }

.mt-2 {
  margin-top: 0.4rem; }

.mx-2 {
  margin-left: 0.4rem;
  margin-right: 0.4rem; }

.my-2 {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem; }

.p-0 {
  padding: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-bottom: 0;
  padding-top: 0; }

.p-1 {
  padding: 0.2rem; }

.pb-1 {
  padding-bottom: 0.2rem; }

.pl-1 {
  padding-left: 0.2rem; }

.pr-1 {
  padding-right: 0.2rem; }

.pt-1 {
  padding-top: 0.2rem; }

.px-1 {
  padding-left: 0.2rem;
  padding-right: 0.2rem; }

.py-1 {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem; }

.p-2 {
  padding: 0.4rem; }

.pb-2 {
  padding-bottom: 0.4rem; }

.pl-2 {
  padding-left: 0.4rem; }

.pr-2 {
  padding-right: 0.4rem; }

.pt-2 {
  padding-top: 0.4rem; }

.px-2 {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.py-2 {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem; }

.rounded {
  border-radius: 0.1rem; }

.circle {
  border-radius: 50%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-normal {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.text-large {
  font-size: 1.2em; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap; }

.text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("~font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("~font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("~font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("~font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("~font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("~font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

@keyframes colorHighlight {
  0% {
    color: #667189;
    background-color: #f0f1f4; }
  50% {
    color: #fff;
    background-color: #ff5500; }
  100% {
    color: #667189;
    background-color: #f0f1f4; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes transUp {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-200px); } }

/* Spectre Breakpoints */
/*
  show-xs shows elements when the window width is smaller than or equal to 480px.
  show-sm shows elements when the window width is smaller than or equal to 600px.
  show-md shows elements when the window width is smaller than or equal to 840px.
  show-lg shows elements when the window width is smaller than or equal to 960px.
  show-xl shows elements when the window width is smaller than or equal to 1280px.
*/
/* Spectre Overrides */
a {
  cursor: pointer; }

.avatar {
  background-clip: padding-box; }

.text-primary {
  color: #ff5500; }

.text-primary-dark {
  color: #cc4400; }

.text-secondary {
  color: #00acfc; }

.text-secondary-dark {
  color: #0089c9; }

/* Margin & Padding */
.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

/* Containers */
.router-container {
  min-height: 25vh;
  padding: 0 1rem; }

/* Navigation */
header.navbar {
  padding: 1rem 0; }
  header.navbar .navbar-brand {
    margin-right: 2rem; }
  header.navbar .btn.btn-link {
    margin: 0 0.25rem;
    height: auto; }
    header.navbar .btn.btn-link.active {
      border: 1px solid #ff5500; }
  header.navbar .user-nav-actions .logged-in .user-chip .chip {
    animation-duration: 1s;
    animation-name: colorHighlight;
    animation-iteration-count: 3;
    animation-direction: alternate; }

.home__splash-hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 100;
  background-image: url("./images/splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .home__splash-hero.hide {
    animation-name: fadeOut;
    animation-duration: 1s;
    pointer-events: none;
    opacity: 0; }
  .home__splash-hero__title-container {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .home__splash-hero__title-container.hide {
      animation-name: transUp;
      animation-duration: 0.5s;
      transition: all 0.5s easeInCubic;
      opacity: 0; }
    .home__splash-hero__title-container h1 {
      font-size: 4rem;
      color: #FFF;
      text-shadow: -1px -1px 0 #ff5500, 1px -1px 0 #ff5500, -1px 1px 0 #ff5500, 1px 1px 0 #ff5500;
      font-family: 'Pacifico', cursive;
      cursor: pointer; }

footer {
  margin-bottom: 1rem; }

/* Componenets and Elements */
/* vote-display */
.vote-display .card-header .card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.vote-display .card-footer .plus-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.btn.btn-anchor {
  background: none;
  border: none;
  padding: 0; }
  .btn.btn-anchor:hover {
    background: none;
    border: none;
    color: #ff5500; }
