@import "scss/_FridayLunchVariables.scss";
@import "node_modules/spectre.css/src/spectre";
$fa-font-path: "~font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";
@import "scss/animation.scss";

/* Spectre Breakpoints */
/*
  show-xs shows elements when the window width is smaller than or equal to 480px.
  show-sm shows elements when the window width is smaller than or equal to 600px.
  show-md shows elements when the window width is smaller than or equal to 840px.
  show-lg shows elements when the window width is smaller than or equal to 960px.
  show-xl shows elements when the window width is smaller than or equal to 1280px.
*/

/* Spectre Overrides */
a {
  cursor: pointer;
}

.avatar {
  background-clip: padding-box;
}

.text-primary {
  color: $primary-color;
}
.text-primary-dark {
  color: $primary-color-dark;
}
.text-secondary {
  color: $secondary-color;
}
.text-secondary-dark {
  color: $secondary-color-dark;
}

/* Margin & Padding */
.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

/* Containers */

.router-container {
  min-height: 25vh;
  padding: 0 1rem;
}

.container.primary-container {}

/* Navigation */

header.navbar {
  padding: 1rem 0;

  .navbar-brand {
    margin-right: 2rem;
  }

  .btn.btn-link {
    margin: 0 0.25rem;
    height: auto;

    &.active {
      border: 1px solid $primary-color;
    }
  }

  .user-nav-actions {
    .logged-in {
      .user-chip {
        .chip {
          animation-duration: 1s;
          animation-name: colorHighlight;
          animation-iteration-count: 3;
          animation-direction: alternate;
        }
      }
    }
  }
}

.home {
  &__splash-hero {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 100;
    background-image: url('./images/splash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.hide {
      animation-name: fadeOut;
      animation-duration: 1s;
      pointer-events: none;
      opacity: 0;
    }

    &__title-container {
      height: 50vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.hide {
        animation-name: transUp;
        animation-duration: 0.5s;
        transition: all 0.5s easeInCubic;
        opacity: 0;
      }

      h1 {
        font-size: 4rem;
        color: #FFF;
        text-shadow:
         -1px -1px 0 $primary-color,
          1px -1px 0 $primary-color,
          -1px 1px 0 $primary-color,
           1px 1px 0 $primary-color;
        font-family: 'Pacifico', cursive;
        cursor: pointer;
      }
    }
  }
}

footer {
  margin-bottom: 1rem;
}

/* Componenets and Elements */

.winning-element {}

/* vote-display */

.vote-display {
  .card-header {
    .card-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .card-footer {
    .plus-one {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.btn {
  &.btn-anchor {
    background: none;
    border: none;
    padding: 0;

    &:hover {
      background: none;
      border: none;
      color: $primary-color;
    }
  }
}
