// Core colors
// $primary-color: #FC4A1A;
$primary-color: #ff5500;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-light: lighten($primary-color, 10%);
$secondary-color: #00acfc;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);

$danger-color: #FF0000;

// Gray colors
// $dark-color: ;
// $light-color: ;
// $gray-color: ;
// $gray-color-dark: ;
// $gray-color-light: ;

// $border-color: ;
// $border-color-dark: ;
// $bg-color: ;
// $bg-color-dark: ;
// $bg-color-light: ;

// Control colors
// $success-color: ;
// $warning-color: ;
// $error-color: ;

// Other colors
// $code-color: ;
// $highlight-color: ;
// $body-bg: ;
// $body-font-color: ;
// $link-color: ;
// $link-color-dark: ;

// Fonts
// $base-font-family: ;
// $mono-font-family: ;
// $fallback-font-family: ;
// $cjk-zh-font-family: ;
// $cjk-jp-font-family: ;
// $cjk-ko-font-family: ;
// $body-font-family: ;

// Unit sizes
// $unit-o: ;
// $unit-h: ;
// $unit-1: ;
// $unit-2: ;
// $unit-3: ;
// $unit-4: ;
// $unit-5: ;
// $unit-6: ;
// $unit-7: ;
// $unit-8: ;
// $unit-9: ;
// $unit-10: ;
// $unit-12: ;
// $unit-16: ;

// Font sizes
// $html-font-size: ;
// $html-line-height: ;
// $font-size: ;
// $font-size-sm: ;
// $font-size-lg: ;
// $line-height: ;

// Sizes
// $layout-spacing: ;
// $layout-spacing-sm: ;
// $layout-spacing-lg: ;
// $border-radius: ;
// $border-width: ;
// $border-width-lg: ;
// $control-size: ;
// $control-size-sm: ;
// $control-size-lg: ;
// $control-padding-x: ;
// $control-padding-x-sm: ;
// $control-padding-x-lg: ;
// $control-padding-y: ;
// $control-padding-y-sm: ;
// $control-padding-y-lg: ;
// $control-icon-size: ;

// $control-width-xs: ;
// $control-width-sm: ;
// $control-width-md: ;
// $control-width-lg: ;
// $control-width-xl: ;

// Responsive breakpoints
// $size-xs: ;
// $size-sm: ;
// $size-md: ;
// $size-lg: ;
// $size-xl: ;
// $size-2x: ;

// $responsive-breakpoint: ;

// Z-index
// $zindex-0: ;
// $zindex-1: ;
// $zindex-2: ;
// $zindex-3: ;
// $zindex-4: ;
