@import "scss/_FridayLunchVariables.scss";

@keyframes colorHighlight {
  0% {
    color: #667189;
    background-color: #f0f1f4;
  }
  50% {
    color: #fff;
    background-color: $primary-color;
  }
  100% {
    color: #667189;
    background-color: #f0f1f4;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes transUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
